.twm-right-section-panels {
  padding: 30px;
  border-radius: 10px;
   height: auto;
  resize: none;
   border-radius: 10px;
  background: #fff;
}

@media (max-width: 540px) {
  .twm-right-section-panels {
    padding: 15px;
  }
}
.panels.panel-defaults {
  border-radius: 10px;
  background: #fff;
  
}
.panel-defaults>.panel-headings .panel-tittles i {
  margin-right: 20px;
}

.panel-defaults>.panel-headings .panel-heading-left {
  float: left;
}

.panel-defaults>.panel-headings .panel-heading-right {
  float: right;
}

.panel-defaults>.panel-headings+.panel-collapse>.panel-bodys {
  border-top-color: #e7ecf1;
}

.wt-panel-headings {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 575px) {
  .wt-listing-full-width .panel-bodys {
    padding: 10px;
  }
}
.ls-inputicon-boxs {
  position: relative;
}

.ls-inputicon-boxs .fs-input-icons {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 60px;
  z-index: 5;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: #1967d2;
}

.ls-inputicon-boxs .form-controls {
  padding-left: 35px;
}

.ls-inputicon-boxs .bootstrap-select .dropdown-toggle {
  padding-left: 35px;
}

.ls-inputicon-boxs .remove_field {
  position: absolute;
  right: 4px;
  top: 2px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  display: block;
}

.form-controls{
      border: 0px;
  background-color: #dbe6f7;
  border-radius: 10px 0px 0px 10px;
  height: auto;
  resize: none;
  height: 130px;
   padding-left: 10px;
  padding-right: 10px;
}
.wt-select-bar-2 .form-controls {
  height: 30px;
}
@media (max-width: 575px) {
  .form-controls {
    height: 48px;
  }
}

@media (max-width: 400px) {
  .form-controls {
    border-radius: 10px;
  }
}

.twm-new-sub-section-wrap .twm-sub-2-section .form-group .form-controls {
  background-color: #fff;
  text-align: center;
}

.twm-hpage-6-subscribe-wrap .twm-hpage-6-subscribe .hpage-6-nw-form .form-controls:focus {
  box-shadow: none;
}

.twm-hpage-6-subscribe-wrap .twm-hpage-6-subscribe .hpage-6-nw-form .form-controls::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.twm-hpage-6-subscribe-wrap .twm-hpage-6-subscribe .hpage-6-nw-form .form-controls::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 14px;
}

.twm-hpage-6-subscribe-wrap .twm-hpage-6-subscribe .hpage-6-nw-form .form-controls:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  font-size: 14px;
}

.twm-hpage-6-subscribe-wrap .twm-hpage-6-subscribe .hpage-6-nw-form .form-controls:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 14px;
}
@media (max-width: 480px) {
  .footer-light .ftr-nw-content .ftr-nw-form .form-controls {
    border-radius: 10px;
    margin-bottom: 20px;
  }
}
.ftr-nw-content .ftr-nw-form .form-controls {
  height: 66px;
  border: 0px;
  background-color: #dbe6f7;
  border-radius: 10px 0px 0px 10px;
}